body {
  font-family: "Roboto",
        "Open Sans",
        "HelveticaNeue-Light",
        "Helvetica Neue Light",
        "Lucida Grande",
        Sans-Serif;
        background-color: lightgray;
}

.edit-box {
  /*background-color: lightyellow;*/
}

.question-container, .answer-container {
  margin: 20px 20px 20px 20px;
  padding: 5px 20px 20px 5px;
}

.button-container {
  text-align: center;
}
