.content {
  text-align: left;
  font-size: 10px;
  color: black;
  margin: 0px 10px 0px 20px;
}

.header-container {
  width: 100%;
  height: 100px;
  Font-Family: 'Roboto Slab', Serif;
  background-color: #f2f2f2;
  /* lightgray */
}

img {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

#subtitle {
  font-size: 16px;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  float: right;
  color: cornflowerblue;
  margin: 35px 40px 10px 10px;
}

#subtitle a {
  color: black;
}

.side-container {
  margin: 5px 15px 5px 5px;
  width: 20%;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  float: right;
  border-left: 1px solid lightgray;
}

.side-container h4 {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: gray;
}

.nav {
  margin: 0px 5px 5px 15px;
  width: 95%;
  float: left;
  overflow: scroll;
}

.add-area, .random-area {
  margin: 15px 5px 5px 15px;
  width: 95%;
  align-items: center;
}

.main {
  margin: 25px 5px 5px 5px;
  width: 75%;
  height: auto;
  float: left;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  overflow: scroll;
}

.change-button:hover, .del-button:hover {
  background-color: gray;
  color: white;
  padding: 6px 6px 6px 6px;
  */
}

.change-button, .del-button {
  margin-right: 10px;
  float: right;
  padding: 6px 6px 4px 6px;
  */
}

.add-button:hover, .random-button:hover {
  background-color: gray;
  cursor: pointer;
  color: white;
  margin: 6px 10px 4px 20px;
  padding: 6px 6px 0px 6px;
}

.add-button, .random-button {
  margin: 6px 10px 4px 20px;
  padding: 6px 6px 0px 6px;
  color: black;
  background-color: lightgray;
  transition: background-color 0.33s, padding 0.33s, color 0.33s;
}

div.question-box {
  margin: 10px 15px 10px 15px;
  background-color: #f2f2f2;;
  margin-bottom: 25px;
  /*transition: background-color 0.33s;*/
}

div.question-box:hover {
  background-color: #f2f2f2;
  /* lightgray */
}

.form-group {
  margin-top: 15px;
}

.form-group label {
  margin-right: 10px;
}

.field-required {
  color: red;
}

.catlist:hover {
  background-color: #6b7f7f;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.catlist {
  color: black;
  Font-Family: 'Roboto Slab', Serif;
  font-size: 18px;
  margin-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: background-color 0.33s, color 0.33s;
}
